.prompt {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-top: var(--conversation-padding);
  width: 100%;
}

.promptInput input {
  font-size: 16px; /* Disables auto-zoom on focus */
  border-radius: 0;
}

.submitBtn {
  margin-left: var(--conversation-padding);
}

@media (max-width: 600px) {
  .submitBtn {
    margin-left: 10px;
  }
}
